# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env*



# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Output
dist/
build/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Testing
coverage/


# Temporary
.tmp
.temp

# Prettier / ESLint caches
.eslintcache
.prettiercache

# OS
$RECYCLE.BIN/
.claude/settings.local.json
.postman

CHECKLIST.md

# Claude Code tools
claude-code-limit-tracker/